@import url(https://fonts.googleapis.com/css?family=Share+Tech);

:root {
  --fa-style-family: var(--fa-style-family-classic);
  --fa-style: 900;
}


body {
  background-color: #000;
}

#resume,
#loadingH1 {
  margin-top: 20px;
  font-family: "Share Tech";
  font-weight: 900;
  font-size: 24px;
  color: #ffffff;
  animation: pulse 1s infinite;
}

h3 {
  margin: 20px 0 20px 0;
}

i {
  font-size: 24px;
  color: #ffffff;
  /* animation: pulse 0.9s infinite; */
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.cursor:after {
  content: "_";
  opacity: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Custom classes */ 
.sub-item {
  margin-top: 20px;
  margin-left: 40px;
}

.sub-item:before {
  content: "> ";
}

.uppercase {
  text-transform: uppercase;
}

.inline {
  display: inline;
  margin-left: 10px;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: none
}